/* GENERAL */ /* GENERAL */ /* GENERAL */ /* GENERAL *//* GENERAL *//* GENERAL */ /* GENERAL */ /* GENERAL */ /* GENERAL */ /* GENERAL */
body {
  margin: 0;
  -ms-overflow-style: none;
  scrollbar-width: none;
  background-color: rgba(31, 31, 31, 1.0);
  font-family: "Bitcount Single Ink";
}
::-webkit-scrollbar {
  display: none;
}

nav {
  position: sticky;
  top: 0;

  justify-content: space-between;
  box-shadow: 0 2vh 2vh -2vh rgba(0, 0, 0, 1.0);
}

nav,
footer {
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: rgba(42, 42, 42, 1.0);
  border: none;
  padding: 2.5vh 5vw;
  box-sizing: border-box;
}

footer {
  position: fixed;
  bottom: 0;

  justify-content: center;
  box-shadow: 0 -2vh 2vh -2vh rgba(0, 0, 0, 1.0);
}

h1,
h2 {
  margin: 0;
  font-family: "Bitcount Single Ink";
  font-size: 3vw;
}
h2 {
  font-size: 3.5vw;
  margin-bottom: 2vh;
}


main {
  margin: 15vh 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  aspect-ratio: 1 / 1;

  object-fit: cover;
  object-position: center;
  max-height: 40vh;

  border: none;
  border-radius: 1.5vh;
  overflow: hidden;
  margin-top: 4vh;
  box-shadow: 0 0 2vh 2vh rgba(0, 0, 0, 0.15);
}


input {
  width: 100%;
  padding: 1vh 1vw;
  box-sizing: border-box;
  background: rgba(52, 52, 52, 1.0);
  border: 1px solid rgba(82, 82, 82, 1.0);
  border-radius: 0.35vh;

  margin-bottom: 1vh;
  font-family: inherit;
  font-size: 1.1vw;
  outline: none;
}

pre {
    color: rgb(102, 102, 102);
    white-space: pre-wrap;
    word-wrap: break-word;
}


/* OTHER */ /* OTHER */ /* OTHER */ /* OTHER */ /* OTHER */ /* OTHER */ /* OTHER */ /* OTHER */ /* OTHER */ /* OTHER */ 
.navigation_panel_nameplate {
  background-color: rgba(52, 52, 52, 1.0);
  box-shadow: 0 0 0.4vh 0.4vh rgba(0, 0, 0, 0.40);
  border: none;
  border-radius: 1vh;

  font-family: "Bitcount Single Ink";
  font-size: 1.8vw;

  padding: 0.75vh 1.25vw;
}


.navigation_panel_horizontal_buttons_flexbox {
  display: flex;
  column-gap: 2vw;
}

.call_api_button {
  background-color: rgba(52, 52, 52, 1.0);
  box-shadow: 0 0 0.4vh 0.4vh rgba(0, 0, 0, 0.40);
  border: none;
  border-radius: 1vh;

  font-family: "Bitcount Single Ink";
  font-size: 1.8vw;
  text-decoration: none;

  padding: 0.75vh 1.25vw;
  cursor: pointer;
  transition: all 0.125s;
}
.call_api_button:hover {
  background-color: rgba(62, 62, 62, 1.0);
  box-shadow: 0 0 0.25vh 0.25vh rgba(90, 90, 90, 0.15);
}
.call_api_button:active {
  opacity: 0.75;
  box-shadow: 0 0 0.4vh 0.4vh rgba(0, 0, 0, 0.6 0);
}



.single_API_content_section {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 60%;
  padding: 2vw;

  border: none;
  border-radius: 2vw;
  background: rgba(42, 42, 42, 0.8);
  box-shadow: 0 0 1vw 1vw rgba(0,0,0,0.25);
}

.call_API_button {
    border: none;
    border-radius: 1vh;
    background-color: rgba(52, 52, 52, 1.0);
    box-shadow: 0 0 0.75vh 0.75vh rgba(0, 0, 0, 0.20);

    padding: 1vh 2vw;
    cursor: pointer;
    font-family: inherit;
    font-size: 1.8vw;
    margin: 1vh 1vw;
}
.call_API_button:hover {
  background-color: rgba(62, 62, 62, 1.0);
  box-shadow: 0 0 0.25vh 0.25vh rgba(90, 90, 90, 0.15);
}
.call_API_button:active {
  opacity: 0.75;
  box-shadow: 0 0 0.4vh 0.4vh rgba(0, 0, 0, 0.6 0);
}

.loader {
    margin: 3vh;
    color: rgba(167, 167, 167, 1.0);
    font-style: italic;
}

.fact-text {
    font-size: 1.5vw;
    margin-top: 3vh;
}

.result-box {
  width: 56%;
  background: rgba(17, 17, 17, 1.0);
  padding: 1vw;
  border-radius: 0.5vh;
  margin-top: 2vh;
  box-shadow: 0 0 0.2vw 0.2vw rgba(0, 0, 0, 0.70);
}

.database_configs_vertical_flexbox {
  display: flex;
  flex-direction: column;
}

.database_buttons_horizontal_flexbox {
  display: flex;
  column-gap: 1vw;
}


.VISUALLY-HIDDEN {
  display: none;
}